<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" >

</head>
<body>
    <div layout:fragment="content1" class="col-md-6 offset-3">
        <form th:action="@{save}" method="post">
            <div>
                <label>Nom</label>
                <input class="form-control" type="text" name="nom" th:value="${patient.username}">
                <span th:errors="${patient.username}"></span>
            </div>
            <div>
                <label>Date Naissance</label>
                <input class="form-control" type="date" name="dateNaissance" th:value="${patient.dateOfBirth}">
                <span th:errors="${patient.dateOfBirth}"></span>
            </div>
            <div>
                <label>Malade</label>
                <input type="checkbox" name="malade" th:checked="${patient.isSick()}">
                <span th:errors="${patient.isSick()}"></span>
            </div>
            <div>
                <label>Score</label>
                <input class="form-control" type="text" name="score" th:checked="${patient.score}">
                <span th:errors="${patient.score}"></span>
            </div>
            <button class="btn btn-primary" type="submit">Enregistrer</button>
        </form>
    </div>
</body>
</html>